*.o
*.a
a.out
*~
\#*\#
vgcore.*
*.gcno
*.gcda
unit_tests
.vscode/*
.vscode
.idea
coding-style-reports.log
tests
.DS_Store
*.cor
*.so
myftp
EPITECH-MyFTP-Protocol-(RFC959-Extract).txt
create_client_socket.c
test